html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {

    background-color: #f5f5f5;
    padding: 20px;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}



.logo img {
    height: 50px;
    width: 50px;
    font-weight: bold;
    opacity: 50%;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav :hover {
    color: #000;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: white;
}

nav a {
    text-decoration: none;
    color: #333;
}

.cta-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.hero {
    background-image: url("hero-background.webp");
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    position: relative;
    overflow: auto;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: heroAnimation 10s infinite;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

@keyframes heroAnimation {
    0% {
        background-image: url(pic1.jpg);
    }

    25% {
        background-image: url(pic2.jpg);
    }

    50% {
        background-image: url(pic3.jpg);
    }

    75% {
        background-image: url(pic4.webp);
    }

    100% {
        background-image: url(image5.jpg);
    }
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 24px;
    margin-bottom: 40px;
}

/* Features Section */
.features {
    padding: 50px;
    background-color: #f5f5f5;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

/* Pricing Section */
.pricing {
    text-align: center;
}

.pricing h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-plans {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.pricing-plan {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    margin-right: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}


.subscribe-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E50914;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.5s,
        transform 0.5s;

}

.show {
    opacity: 1;
    transform: translateX(0%);
}


.contact {
    padding: 50px;
    background-color: #f5f5f5;
}

.contact h2 {
    text-align: center;
    margin-bottom: 40px;
}

.contact form {
    text-align: center;
}

.contact input,
.contact textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
    color: #333;
}